@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CiCdTest</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <main class="container">
        <h1>Hello DevOps This is muntasir</h1>
        <h2>Successfully working ci cd</h2>
    </main>
</body>
</html>
